*{
    font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
}

header{
    background-color:rgba(30,30,30,0.6);
    padding-top: 0.2%;
    padding-bottom: 0.5%;
	width:100%;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(images/webbackground.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    position: relative;
}

li, h1, p, h2{
	color: lightblue;
	text-align:center;
}

h2{
	color: lightblue;
	text-align:center;
	background-color:rgba(30,30,30,0.6);
	padding-bottom:3px;
	padding-top:3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  
}

header{
	display:none;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: gray;
  color: white;
}

button{
	margin: 4px auto;
	font-size: 15px;
	padding: 1px !important;
	background-color:lightblue;
	border-style: groove; 
	border-color: rgba(255,255,255,0.2); 
	border-radius:3px;
	margin-bottom: 5px;
	font-weight:bold;
}

@media only screen and (min-width: 768px) {
  
	#header{
	display:inline-block;
	}
	
	.topnav{
		display:none;
	}
	.topnav #myLinks{
		display:none;
	}
		
	.header-tag{
		background-color:#b4b4b4;
		color:black;
		margin:0px;
		border-style: groove; 
		border-color: rgba(255,255,255,0.2); 
		border-radius:3px; 
		border-bottom-left-radius:25px; 
		padding:15px 25px; 
		display:inline-block;
	}

	.header-button:link, .myheader:visited{
		font: size 25px;
		color:white;
		background-color: rgba(0,0,0,0.0);
		border-style: groove;
		border-color: rgba(255,255,255,0.2);
		padding:15px 25px;
		text-align:center;
		text-decoration:none;
		display:inline-block;
	}

	.header-button:hover{
		background-color:#b4b4b4;
		text-shadow: 2px 2px gray;
		color:black;
		transition: 0.5s;
	}

	.header-button:not(:hover){
		background-color: rgba(0,0,0,0.0);
		color:white;
		transition: 1.0s;
	}
	
	[class*="col-"] {
  float: left;
  padding: 15px;
  border: 0px solid red;
}

}
