*{
    font-family: 'Quicksand', sans-serif;
}

header{
    background-color:rgba(30,30,30,0.6);
    padding-top: 0.2%;
    padding-bottom: 0.5%;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url(images/webbackground.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    box-sizing: border-box;
    position: relative;
}

.header-button:link, .myheader:visited{
    font: size 25px;
    color:white;
    background-color: rgba(0,0,0,0.0);
    border-style: groove;
    border-color: rgba(255,255,255,0.2);
    padding:15px 25px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
}

.header-button:hover{
    background-color:#b4b4b4;
    text-shadow: 2px 2px gray;
    color:black;
    transition: 0.5s;
}

.header-button:not(:hover){
    background-color: rgba(0,0,0,0.0);
    color:white;
    transition: 1.0s;
}

.p_languages:link, .p_languages:visited{
    text-shadow: 1px 1px white;
    background-color:white;
    border-style: outset;
    font-size: 20px
}

.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.project-preview{
    vertical-align: top;
    width: 70%;
    height: auto;
    cursor: pointer;
    min-width: "200px";
}

.project-preview:hover{
    transform: scale(1.1);
    margin-bottom: 10px;
    transition: 0.4s;
    border: 1px solid white;

}

.project-preview:not(:hover){
    width: 70%;
    transition: 0.4s;
    min-width: "200px";

}

.project-name{
    padding: 15px;
    text-align:center;
}